body{
    background-color: #D4E4F7;
}

h1 { font-family: Tahoma, Verdana, sans-serif, Geneva; font-size: 24px; font-weight: bold; line-height: 25px; } 
h3 { font-family: Tahoma, Verdana, sans-serif, Geneva; font-size: 18px; font-weight: 100; line-height: 20px; }
p, li{ font-family: Tahoma, Verdana, sans-serif, Geneva; font-size: 16px; font-weight: 100; line-height: 20px;} 

/* CSS for the actual entity in the text */
[data-entity] {
    padding: 0.25em 0.4em;
    line-height: 1;
    display: inline-block;
    border-radius: 0.2em;
    border: 2px solid;
}

/* CSS for the entity classification */
[data-entity]::after /* This generates a pseudo-child containg the classification after the entity*/
{
    content: attr(data-entity); /*The text in the child is the classification*/
    line-height: 1;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: middle;
    text-transform: uppercase;
    margin: 0 0 0.2em 0.5rem;
    font-size: 0.8em;
    font-weight: bold;
}


